@page
@model kirusha_crud_asp.net.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.invoice_id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Invoice.appointment_id" class="control-label"></label>
                <select asp-for="Invoice.appointment_id" class="form-control" asp-items="ViewBag.appointment_id"></select>
                <span asp-validation-for="Invoice.appointment_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Invoice.date" class="control-label"></label>
                <input asp-for="Invoice.date" class="form-control" />
                <span asp-validation-for="Invoice.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Invoice.amount" class="control-label"></label>
                <input asp-for="Invoice.amount" class="form-control" />
                <span asp-validation-for="Invoice.amount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Invoice.paid" /> @Html.DisplayNameFor(model => model.Invoice.paid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
