@page
@model kirusha_crud_asp.net.Pages.Dentists.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dentist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.specialty" class="control-label"></label>
                <input asp-for="Dentist.specialty" class="form-control" />
                <span asp-validation-for="Dentist.specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.name_first" class="control-label"></label>
                <input asp-for="Dentist.name_first" class="form-control" />
                <span asp-validation-for="Dentist.name_first" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.name_middle" class="control-label"></label>
                <input asp-for="Dentist.name_middle" class="form-control" />
                <span asp-validation-for="Dentist.name_middle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.name_last" class="control-label"></label>
                <input asp-for="Dentist.name_last" class="form-control" />
                <span asp-validation-for="Dentist.name_last" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.street" class="control-label"></label>
                <input asp-for="Dentist.street" class="form-control" />
                <span asp-validation-for="Dentist.street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.house_number" class="control-label"></label>
                <input asp-for="Dentist.house_number" class="form-control" />
                <span asp-validation-for="Dentist.house_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.postcode" class="control-label"></label>
                <input asp-for="Dentist.postcode" class="form-control" />
                <span asp-validation-for="Dentist.postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.phone" class="control-label"></label>
                <input asp-for="Dentist.phone" class="form-control" />
                <span asp-validation-for="Dentist.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Dentist.email" class="control-label"></label>
                <input asp-for="Dentist.email" class="form-control" />
                <span asp-validation-for="Dentist.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
